name: Test GitHub Actions OIDC

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

# Required for OIDC token generation
permissions:
  id-token: write
  contents: read

jobs:
  test-oidc-client:
    name: Test OIDC Client
    runs-on: ubuntu-24.04
    
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    
    - name: Configure github token
      env:
        TOKEN_USER: ${{ secrets.WORKFLOW_TOKEN_USER }}
        TOKEN: ${{ secrets.WORKFLOW_TOKEN}}
      run: |
        if [ -n "$TOKEN_USER" ] && [ -n "$TOKEN" ]; then
          git config --global url."https://${TOKEN_USER}:${TOKEN}@github.com".insteadOf "https://github.com"
        fi
    
    - name: Get dependencies
      run: |
        go get -v -t -d ./...
    
    - name: Test GitHub Actions OIDC Token Retrieval
      run: |
        go run .github/workflows/test-oidc-client.go
      env:
        OIDC_AUDIENCE: "https://github.com/dioad"

  test-oidc-validator:
    name: Test OIDC Validator
    runs-on: ubuntu-24.04
    needs: test-oidc-client
    
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    
    - name: Configure github token
      env:
        TOKEN_USER: ${{ secrets.WORKFLOW_TOKEN_USER }}
        TOKEN: ${{ secrets.WORKFLOW_TOKEN}}
      run: |
        if [ -n "$TOKEN_USER" ] && [ -n "$TOKEN" ]; then
          git config --global url."https://${TOKEN_USER}:${TOKEN}@github.com".insteadOf "https://github.com"
        fi
    
    - name: Get dependencies
      run: |
        go get -v -t -d ./...
    
    - name: Test GitHub Actions OIDC Token Validation
      run: |
        go run .github/workflows/test-oidc-validator.go
      env:
        OIDC_AUDIENCE: "https://github.com/dioad"
